__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
venv/
node_modules/
.next/
dist/
build/
.DS_Store
Thumbs.db
*.bak
node_modules/
frontend-react/node_modules
node_modules/
.next/
dist/
.env
.env.local

